@page "/"

<PageTitle>Home</PageTitle>
<h3>Welcome</h3>
Thanks for trying my characater creator for Draw Steel.
<p />
Some notes before your begin:
<ul>
    <li>
        This is a character creator, <b><i>not a character manager</i></b>. This tool has no intended functionality for use when playing the game.
    </li>
    <li>
        You don't have an account to save your characters to, but don't worry, you have two ways you can export your character at anytime:
        <ol>
            <li>As a JSON file (that you can import at a different time and continue working on or modify), or</li>
            <li>As a formatted word doc for easy printing.</li>
        </ol>
    </li>
    <li>I recommend waiting to choose your Skills for last so you don't have to revisit it before you finish.</li>
</ul>
<p />
Questions, concerns, or issues? Email me at <a href="mailto:redbeard923.dev@gmail.com">redbeard923.dev@gmail.com</a> and I''ll see what I can do for you.
<p />
<footer>
    <i>DS Character Creator</i> is an independent product published under the <i>DRAW STEEL</i> Creator License and is not affiliated with MCDM Productions, LLC.
    <br />
    <i>DRAW STEEL</i> © 2024 MCDM Productions, LLC.
    <p />
    <a href="https://www.mcdmproductions.com/draw-steel-creator-license" target="_blank">Read the full Creator License here</a>
</footer>